.Container{
    width: 914;
    height: 652;    

}

.annotation {
    font-family: 'Roboto';
    /* /* width: 700px; */
    height: 80px; 
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 300;
    background: black;
    color: #f0f0f0;
    padding: 2px 10px;
    border-radius: 10%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .annotation-Mariana {
    font-family: 'Roboto';
    /* /* width: 700px; */
    height: 80px; 
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 300;
    background: #691E8F;
    color: #f0f0f0;
    padding: 2px 10px;
    border-radius: 10%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .annotation-Alex {
    font-family: 'Roboto';
    /* /* width: 700px; */
    height: 80px; 
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 300;
    background: #05575A;
    color: #f0f0f0;
    padding: 2px 10px;
    border-radius: 10%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .controls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: black;
    opacity: 0.5;
    color: white;
    padding: 5px;
  }
  
  p {
    margin: 5px;
    font-family: monospace;
    font-size: 12px;
    letter-spacing: 0.75px;
  }
  