.menu{
    width: 100%;
    background-color:black;;
    
    text-decoration:none;
}

h1{
    text-align: center;
    color: white;
}

.menu-items{
    font-size: 30px;
    display: flex;
    justify-content: center;
    
}

.buttons{
    margin: 1%;
    margin-right: 4%;
    border-radius: 5px;
    padding: .5%;
    background-color: aliceblue;
    
}

a:link, a:visited, a:active {
    text-decoration:none;
}



