.App {
  text-align: center;
}

body {
  -youbkit-touch-callout: none; /*iOS Safari*/
  -youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge y Opera 15+ */
  -moz-user-select: none;    /*Firefox*/
  -ms-user-select: none;        /* IE 10+ y Edge */
  user-select: none;            /* Versión sin prefijo,
                              actualmente compatible con Chrome y Opera */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
